/* Jaime Alonso Fernández - UO294024 */
/* Estilos generales para al app MotoGP desktop*/

/* Especificidad (0, 0, 0, 1) -> 1 elemento */
body{
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
    background-color: #f5f5f5;
    color: #333138;
}

/* Especificidad (0, 0, 0, 1) -> 1 elemento */
header{
    background-color: #515052;
    color: #f5f5f5;
}

/* Especificidad (0, 0, 0, 1) -> 1 elemento */
nav{
    background-color: #9E3337;
    color: #FFFFFF;
}

