/* Jaime Alonso Fernández - UO294024 */
/* Layout general para al app MotoGP desktop*/

/* Especificidad (0, 0, 1) */
body{
    margin:0;
}

/* Especificidad (0, 0, 1) */
header{
    display:flex;
    flex-direction:row;
}

/* Especificidad (0, 0, 1) */
nav {
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

/* Especificidad (0, 0, 2) */
nav a {
    margin: auto;
}

/* Especificidad (0, 0, 1) */
main > *{
    margin: 0 15rem;
}

/* Especificidad (0, 0, 1) */
h2{
    margin-bottom:2rem;
}

/* Especificidad (0, 1, 3) */
body > p:first-of-type:has(strong) {
    /* Despegamos las migas de pan del límite de la pantalla */
    padding: 0 0 0 2em;
}

/* Especificidad (0, 1, 1) */
main > :last-child{
    margin-bottom: 1rem;
}

/* Especificidad (0, 1, 2) */
main > aside:last-of-type{
    text-align: center;
    padding:4rem;
    margin: 1.5rem 0 0 0;
}

/* Especificidad (0, 1, 3) */
main > aside:last-of-type a{
    margin: 0 1rem;
}

/* Especificidad (0, 0, 4) */
/* Esto se usa para que al cambiar la imagen no empiece a "saltar" la página por la diferencia de altura de las fotos*/
article h2+img{
    height: 30rem;
    width:auto;
}

img{
    width: 65%;
}

video{
    width: 65%;
}


/* Especificidad (0, 0, 1) */
td{
    width:8em;
    text-align: center;
}

/* Especificidad (0, 0, 1) */
th{
    padding: 1em;
}

main > section > button{
    margin: 0 1rem 0 0;
}

main > div {
    width: 75%;
    height: 25rem;
}

@media (min-width: 320px) and (max-width: 799px) {
    /* Especificidad (0, 0, 1) */
    header{
        /* Advertencia de redefinición */
        flex-direction: column;
    }

    /* Especificidad (0, 0, 1) */
    nav{
        /* Advertencia de redefinición */
        flex-direction: column;
    }

    /* Especificidad (0, 0, 1) */
    main > *{
        margin: 0 2rem;
    }

    /* Especificidad (0, 1, 2) */
    p:first-of-type:has(strong) {
        /* Eliminamos las migas en caso de que la pantalla sea muy pequeña */
        display:none;
    }

    /* Especificidad (0, 0, 1) aunque afecte a dos componentes, son independientes y no anidados */
    video,audio {
        width: 100%;
        height: auto;
    }

    /* Especificidad (0, 0, 2) */
    main > h2{
        margin: 1rem 3rem;
    }

    article h2+img{
        margin: 0;
        width: 100%;
        height:auto;
    }

    main > div {
        margin:1.5rem;
        padding: 0;
        width: 90%;
        height: 25rem;
    }

    img{
        width: 90%;
    }

}
