/* Jaime Alonso Fernández - UO294024 */
/* Estilos específicos para el juego de memoria de MotoGP desktop */

/*ASK: Preguntar al profe esta disposicion*/
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10% repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    margin: 3rem 5rem;
    box-sizing: border-box;
}

main > article{
    margin: 0;
}

main > h2 {
    grid-column: 1 / -1;
    grid-row: 1;
    padding: 0;
    margin: 1rem 0 2rem 0;
}

@media (min-width: 320px) and (max-width: 799px) {
    main {
        /* Advertencia de redefinición */
        grid-template-columns: repeat(2, 1fr);
        /* Advertencia de redefinición */
        grid-template-rows: 10% repeat(7, 1fr);
        /* Advertencia de redefinición */
        margin: 0 7rem;
        /* Advertencia de redefinición */
        column-gap: 0.1rem;
    }

    main > h2{
        height: 7rem;
        /* Advertencia de redefinición */
        margin: 0 0 3rem 0;
    }
}
